<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>A user</title>
</head>
<body>
<section class="users">
  <img class="image" src="<%=@user.photo%>" alt="user_image" />
  <div class="deets">
    <h2><%= @user.name%> </h2>
    <p>Number of posts: <%= @user.posts_counter%> </p>
  </div> 
</section>
<section class="user_bio">
  <h3>Bio</h3>
  <p><%= @user.bio%> </p>
</section>
</body>
</html>