<div class="py-5 px-5 shadow-md fixed z-50 w-full top-0">
  <div class="container mx-auto flex items-center justify-between">
    <%= link_to "Blog app", root_path, class: "text-2xl text-orange-500 font-bold" %>
    <nav>
      <ul class="flex items-center">
        <li class="mx-3 text-lg font-semibold hover:text-orange-500">
            <%= link_to "Log in", new_user_session_path %><br />
        </li>
        <li class="mx-3 text-lg font-semibold hover:text-orange-500">
          <%= link_to "Sign up", new_user_registration_path %><br />
        </li>
      </ul>
    </nav>
  </div>
</div>